.parent-box {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.inspection {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

h2 {
  background-color: #3769ce;
  color: #fff;
  padding: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 45%;
  flex-wrap: wrap;
}

.percentage {
  font-size: 30px;
  margin-bottom: 15px;
  color: #3769ce;
}

.name {
  font-size: 16px;
}

@media (max-width: 768px) {
  .column {
    width: 100%;
    margin-bottom: 20px;
  }

  .percentage {
    font-size: 25px;
  }

  .name {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .inspection {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .column {
    width: 100%;
  }

  .percentage {
    font-size: 18px;
  }

  .name {
    font-size: 12px;
  }
}
