<div class="box-container">
  <div class="box"><app-truck-details></app-truck-details></div>
  <div class="box"><app-drivers></app-drivers></div>
  <div class="box"><app-trip-details></app-trip-details></div>
  <div class="box"><app-truck-utilization></app-truck-utilization></div>
  <div class="box"><app-fleet-fuel-economy></app-fleet-fuel-economy></div>
  <div class="box"><app-critical-faults></app-critical-faults></div>
  <div class="box"><app-fuelcost></app-fuelcost></div>
  <div class="box"><app-service-remainders></app-service-remainders></div>
  <div class="box"><app-open-issues></app-open-issues></div>
  <div class="box"><app-safety-details></app-safety-details></div>
  <div class="box"><app-other-costs></app-other-costs></div>
  <div class="box"><app-service-costs></app-service-costs></div>
  <div class="box"><app-inspection-item-failure-rate></app-inspection-item-failure-rate></div>
  <div class="box"><app-inspection-summary></app-inspection-summary></div>
</div>
