<div class="row parent-box">
    <h2>Trips</h2>
    <div class="table">
      <div class="row">
        <div class="label">Finished</div>
        <div class="value">{{tripData.finished}}</div>
      </div>
      <div class="row">
        <div class="label">Live</div>
        <div class="value">{{tripData.live}}</div>
      </div>
      <div class="row">
        <div class="label">Cancelled</div>
        <div class="value">{{tripData.cancelled}}</div>
      </div>
    </div>
  </div>
  

